.App{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu,.Quiz, .EndScreen{
  width: 45vw;
  height: 600px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.Menu button, .Quiz button, .EndScreen button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Menu,.Quiz{
  color: whitesmoke ;
}

.options{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Quiz button:hover{
  background-color: lightseagreen;
}

.EndScreen, .Menu{
  justify-content: center;
}

.Menu input{
  width: 300px;
  height: 40px;
  margin: 30px;
  border-radius: 10px;
}